<div class="row">
	<div class="col-xs-12 text-center">
		<h1>Draw!</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 text-center">
		Last selected: {{actual}}<br />
	</div>
</div>
<div class="row">
	<div class="col-xs-12" id="areaDibujo">
		<div class="row" ng-repeat="al in alto">
			<div class="col-xs-1 cursorPointer cuadrado text-center" ng-repeat="an in ancho" ng-mouseover="activaElemento(al,an)" ng-style="{'background-color':'rgba(0,0,0,'+(elementos[al+an]/20)}"
			> 
				{{elementos[al+an]}}
			</div>
		</div>
	</div>
</div>




